<%- include('./partials/header', { path: path }) %>

    <div id="view-dashboard" class="view-section" style="display: <%= path === '/' ? 'block' : 'none' %>;">
        <%- include("./layout/shortUrl.ejs") %>
    </div>
    <div id="view-qrcode" class="view-section" style="display: <%= path === '/' ? 'block' : 'none' %>;">
        <%- include("./layout/qrcode.ejs") %>
    </div>

<%- include('./partials/footer') %>